 <style>
 .header {font-weight:bold;background-color: midnightblue;color:white}
 </style>
 <table border="1">
        <thead>
            <th class="header" width="100">Name</th>
            <th class="header" width="100">Capital</th>
            <th class="header" width="100">Area</th>
            <th class="header" width="100">Language</th>
        </thead>
        <tr *ngFor="let data of GridData">
            <td>{{data.Name}}</td>
            <td>{{data.Capital}}</td>
            <td>{{data.Area}}</td>
            <td>{{data.Language}}</td>
        </tr>
    </table>